################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/paraDroid.tlog
/Debug
/packages
/packages.config
/paraDroid.vcxproj.user
/paraDroid.vcxproj.filters
/paraDroid.vcxproj
/paraDroid.VC.VC.opendb
/paraDroid.VC.db
/paraDroid.sln
/.vs/paraDroid/v14
/x64/Debug
/x64/Release
/.vs/paraDroid/v15
/x64/Release
/x64/Release/paraDroid.tlog
/.vs/paraDroid/v15/ipch/AutoPCH/PARADROID-53afd71f/AS_ARRAYOBJECT-61ad599e/AS_ARRAYOBJECT.ipch
/.vs/paraDroid/v15
/.vs/paraDroid/v15
/ClassDiagram.cd
