################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/paraDroid.tlog
/Debug
/packages
/packages.config
/paraDroid.vcxproj.user
/paraDroid.vcxproj.filters
/paraDroid.vcxproj
/paraDroid.VC.VC.opendb
/paraDroid.VC.db
/paraDroid.sln
/.vs/paraDroid/v14
/x64/Debug
