################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.VC.openDB
*.VC.db
/Debug/paraDroid.tlog
/Debug
/packages
/packages.config
/paraDroid.vcxproj.user
/paraDroid.vcxproj.filters
/paraDroid.vcxproj
/paraDroid.VC.VC.opendb
/paraDroid.VC.db
/paraDroid.sln
/.vs/paraDroid/v14
/x64/Debug
/x64/Release
/.vs/paraDroid/v15
/x64/Release
/x64/Release/paraDroid.tlog
/.vs/paraDroid/v15/ipch/AutoPCH/PARADROID-53afd71f/AS_ARRAYOBJECT-61ad599e/AS_ARRAYOBJECT.ipch
/.vs/paraDroid/v15
/.vs/paraDroid/v15
/ClassDiagram.cd
/Release/winParaDroid.tlog
/Release/winParaDroid.log
/Release/winParaDroid.lib
/Release/winParaDroid.exp
/Release/vc140.pdb
/Release/sys_utils.obj
/Release/sys_timing.obj
/Release/sys_startup.obj
/Release/sys_starfield.obj
/Release/sys_sound.obj
/Release/sys_shutdown.obj
/Release/sys_script.obj
/Release/sys_random.obj
/Release/sys_physicsCollisions.obj
/Release/sys_physics.obj
/Release/sys_maths.obj
/Release/sys_joystick.obj
/Release/sys_frame.obj
/Release/sys_font.obj
/Release/sys_debug.obj
/Release/sys_conVariables.obj
/Release/sys_console.obj
/Release/sys_conCommands.obj
/Release/scriptstdstring_utils.obj
/Release/scriptstdstring.obj
/Release/scriptbuilder.obj
/Release/main.obj
/Release/libpthread.dll
/Release/io_sideView.obj
/Release/io_packFile.obj
/Release/io_logFile.obj
/Release/io_keyboard.obj
/Release/io_keyBind.obj
/Release/io_joystick.obj
/Release/io_images.obj
/Release/io_configFile.obj
/Release/gui_text.obj
/Release/gui_slider.obj
/Release/gui_scrollBox.obj
/Release/gui_render.obj
/Release/gui_objects.obj
/Release/gui_main.obj
/Release/gui_keyCode.obj
/Release/gam_transferRender.obj
/Release/gam_transferPlayerAI.obj
/Release/gam_transferDroidAI.obj
/Release/gam_transfer.obj
/Release/gam_terminal.obj
/Release/gam_spotLight.obj
/Release/gam_sideView.obj
/Release/gam_scoreTable.obj
/Release/gam_render.obj
/Release/gam_player.obj
/Release/gam_pathFind.obj
/Release/gam_particles.obj
/Release/gam_LOS.obj
/Release/gam_levels.obj
/Release/gam_intro.obj
/Release/gam_endScreen.obj
/Release/gam_droidAI_Shoot.obj
/Release/gam_droidAI_Resume.obj
/Release/gam_droidAI_Patrol.obj
/Release/gam_droidAI_Health.obj
/Release/gam_droidAI_Flee.obj
/Release/gam_droidAI.obj
/Release/gam_droid.obj
/Release/gam_doors.obj
/Release/gam_database.obj
/Release/gam_bullet.obj
/Release/cpSweep1D.obj
/Release/cpSpatialIndex.obj
/Release/cpSpaceStep.obj
/Release/cpSpaceQuery.obj
/Release/cpSpaceHash.obj
/Release/cpSpaceDebug.obj
/Release/cpSpaceComponent.obj
/Release/cpSpace.obj
/Release/cpSlideJoint.obj
/Release/cpSimpleMotor.obj
/Release/cpShape.obj
/Release/cpRotaryLimitJoint.obj
/Release/cpRobust.obj
/Release/cpRatchetJoint.obj
/Release/cpPolyShape.obj
/Release/cpPolyline.obj
/Release/cpPivotJoint.obj
/Release/cpPinJoint.obj
/Release/cpMarch.obj
/Release/cpHastySpace.obj
/Release/cpHashSet.obj
/Release/cpGrooveJoint.obj
/Release/cpGearJoint.obj
/Release/cpDampedSpring.obj
/Release/cpDampedRotarySpring.obj
/Release/cpConstraint.obj
/Release/cpCollision.obj
/Release/cpBody.obj
/Release/cpBBTree.obj
/Release/cpArray.obj
/Release/cpArbiter.obj
/Release/chipmunk.obj
/Release/as_variablescope.obj
/Release/as_typeinfo.obj
/Release/as_tokenizer.obj
/Release/as_thread.obj
/Release/as_string_util.obj
/Release/as_string.obj
/Release/as_scriptobject.obj
/Release/as_scriptnode.obj
/Release/as_scriptfunction.obj
/Release/as_scriptengine.obj
/Release/as_scriptcode.obj
/Release/as_restore.obj
/Release/as_parser.obj
/Release/as_outputbuffer.obj
/Release/as_objecttype.obj
/Release/as_module.obj
/Release/as_memory.obj
/Release/as_globalproperty.obj
/Release/as_generic.obj
/Release/as_gc.obj
/Release/as_datatype.obj
/Release/as_context.obj
/Release/as_configgroup.obj
/Release/as_compiler.obj
/Release/as_callfunc_xenon.obj
/Release/as_callfunc_x86.obj
/Release/as_callfunc_x64_msvc.obj
/Release/as_callfunc_x64_mingw.obj
/Release/as_callfunc_x64_gcc.obj
/Release/as_callfunc_sh4.obj
/Release/as_callfunc_ppc_64.obj
/Release/as_callfunc_ppc.obj
/Release/as_callfunc_mips.obj
/Release/as_callfunc_arm.obj
/Release/as_callfunc.obj
/Release/as_bytecode.obj
/Release/as_builder.obj
/Release/as_atomic.obj
/Release/as_arrayobject.obj
/Release/allegro_video-5.2.dll
/Release/allegro_ttf-5.2.dll
/Release/allegro_primitives-5.2.dll
/Release/allegro_physfs-5.2.dll
/Release/allegro_memfile-5.2.dll
/Release/allegro_image-5.2.dll
/Release/allegro_font-5.2.dll
/Release/allegro_dialog-5.2.dll
/Release/allegro_color-5.2.dll
/Release/allegro_audio-5.2.dll
/Release/allegro_acodec-5.2.dll
/Release/allegro-5.2.dll
